body {
    font-family: 'Arial', sans-serif;
    background-color: #000000;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #1a1a1a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.5);
}

h1 {
    text-align: center;
    color: #ffd700;
    margin-bottom: 20px;
}

h2 {
    color: #ff6400;
    border-bottom: 2px solid #ff6400;
    padding-bottom: 5px;
    margin-top: 30px;
}

.total-fr {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    background-color: #4a3728;
    padding: 10px;
    border-radius: 5px;
}

.total-fr span {
    font-size: 36px;
    font-weight: bold;
    color: #ff6400;
}

.input-section {
    margin-bottom: 20px;
}

.input-section label {
    display: block;
    margin-bottom: 5px;
    color: #a0a0a0;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #2e2e2e;
    border: 1px solid #ff6400;
    color: #ffffff;
    border-radius: 5px;
}

.consumables, .raid-buffs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin-bottom: 20px;
}

.item {
    background-color: #2a2a2a;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
    border: 2px solid transparent;
}

.item:hover {
    background-color: #3a3a3a;
}

.item img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
}

.item-details {
    flex-grow: 1;
}

.item-name {
    font-weight: bold;
    color: #ffd700;
}

.item-effect {
    font-size: 14px;
    color: #a0a0a0;
}

.raid-buff {
   border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    cursor: none;
    border: 2px solid transparent;
}

.raid-buff .item-effect {
   
}

.raid-buff img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 5px;
}

.status-icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #00ff00;
}

.btn-success {
    border-color: #00ff00;
}

.safe {
    color: #00ff00;
	background-color: #0a2a0a;
}
.safe:hover {
	
}
.burnt {
    color: #f7be4d;
	 background-color: #e08026;
}

.cooked {
    color: #e85433;
	 background-color: #4a0505;
}
